{:story-sources ["src/sand-dancer.dg"
                 "src/base-of-tower.dg"
                 "src/break-room.dg"
                 "src/control-center.dg"
                 "src/crumbling-concrete.dg"
                 "src/knock.dg"
                 "src/light.dg"
                 "src/memories.dg"
                 "src/middle-of-nowhere.dg"
                 "src/office-interior.dg"
                 "src/office.dg"
                 "src/open-desert.dg"
                 "src/plans.dg"
                 "src/roof.dg"
                 "src/smoking.dg"
                 "src/staging-area.dg"
                 "src/storage-room.dg"
                 "src/talents.dg"
                 "src/tower.dg"
                 "src/weed-strewn-rust.dg"
                 "src/windows.dg"]
 :debug-sources ["lib/extra-debug.dg"
                 "/usr/local/share/dialog-if/stddebug.dg"]
 :library-sources ["lib/room-connections.dg"
                   "lib/stdlib-overrides.dg"
                   "/usr/local/share/dialog-if/stdlib.dg"]}
