{:story-sources ["src/scenes/*.dg"
                 "src/characters/*.dg"
                 "src/*.dg"]
 :debug-sources ["lib/debug/*.dg"
                 "/usr/local/share/dialog-if/stddebug.dg"]
 :library-sources ["lib/*.dg"
                   ;; No WiFi:
                   "../threaded-conversation/lib/threaded-converstation.dg"
                   #_
                     {:github "hlship/threaded-conversation"
                      :version "v1.0"
                      :path "lib/threaded-conversation.dg"}
                   "/usr/local/share/dialog-if/stdlib.dg"]}
